.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 36px 20px 20px 20px;
  border-radius: 10px;
  box-shadow: 0px 1px 3.98px 0px #33333326;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.card:hover {
  @media (min-width: 920px) {
    border: 1px solid #512689;
  }
}
.card-avatar {
  margin-bottom: 16px;
}
.card-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.card-title {
  font-size: 20px;
  color: #151317;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}
.card-favorite {
  display: flex;
  justify-content: end;
  width: 100%;
}
.card-btn {
  text-align: right;
}
